{% extends 'base/base.html
{% load static %}
{% load socialaccount %}

{% block content %}
{% include 'catalog.html

{% include 'burger_nav.html

{% include 'mobile_nav.html


<!--    <script src="js/dropped.js"></script>-->
    <script src="js/elem-shiow.js"></script>
    <script src="js/tabs.js"></script>
<!--    <script src="js/&#45;&#45;authorization.js"></script>-->
    <script src="js/registration.js"></script>
<!--        <script src="js/page-main.js"></script>-->
<!--    <script src="js/show-arrow.js"></script>-->
<!--    <script src="js/news-slider.js"></script>-->


{% endblock %}